<a href="https://colab.research.google.com/github/vbgamer/Data-Structure-Algorithms-DSA-/blob/main/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
Using for loop figure out how many times you got heads

In [11]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count = 0
for item in result:
    if item  == "heads":
        count += 1
print('result for heads in coins', count)

result for heads in coins 4

2. Print square of all numbers between 1 to 10 except even numbers

In [26]:
for i in range(1,11):
  if i % 2 != 0:
    print(i*i)

1
9
25
49
81

3. Your monthly expense list (from Jan to May) looks like this,
expense_list = [2340, 2500, 2100, 3100, 2980]
Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

In [38]:
expense = [2340, 2500, 2100, 3100, 2980]
month_names = ["Jan","Feb","MAr","Apr","May"]

a = input("Enter your expense amt: ")
a = int(a)

month = -1
for i in range(len(expense)):
  if a == expense[i]:
    month_index = i
    break
if month_index != -1:
    print(f'You spent {a} in {month_names[month_index]}')
else:
    print(f'You did not spend {a} in any month')

Enter your expense amt: 2500
You spent 2500 in Feb

5. Lets say you are running a 5 km race. Write a program that,

Upon completing each 1 km asks you "are you tired?"
If you reply "yes" then it should break and print "you didn't finish the race"
If you reply "no" then it should continue and ask "are you tired" on every km
If you finish all 5 km then it should print congratulations message

In [46]:
for i in range(5):
  print(f'You ran {i+1} km')
  tired = input('Are you tried')
  if tired == 'yes':
    break

if i ==4 :
  print(' Congrats you finished the Race')
else:
  print(f'You ran {i+1}km')

You ran 1 km
Are you triedno
You ran 2 km
Are you triedno
You ran 3 km
Are you triedno
You ran 4 km
Are you triedno
You ran 5 km
Are you triedno
 Congrats you finished the Race

5. Write a program that prints following shape

*
**
***
****
*****

In [52]:
for i in range (1,6):
  a =''
  for j in range(i):
    a += '*'
  print(a)

*
**
***
****
*****