STRING IN PYTHON

1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [5]:
street = 'Khopat'
city = 'Thane'
country = 'India'
str_1 = street
str_2 = city
str_3 = country
address = str_1 + str_2+ str_3
print('address:',address)
address_fstring = f"{street}\n{city}\n{country}"
print(address_fstring)

address: KhopatThaneIndia
Khopat
Thane
India

2. Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index

In [14]:
var_1 = 'Earth revolves around the sun'
print(var_1[6:14])
print(var_1[-3:])

revolves
sun

3. Create two variables to store how many fruits and vegetables you eat in day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [17]:
fruit = 20
veggies = 15
print_fstring= f" I eat {veggies} and {fruit} daily"
print(print_fstring)

 I eat 15 and 20 daily

4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line

In [24]:
from os import replace
s='maine 20 banana khaye'
new = s.replace('20','10').replace('banana','samosa')
print(new)

maine 10 samosa khaye