VARIABLES

1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see

In [ ]:
break_var = 6

2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [ ]:
birth_year = 2003
current_year = 2024
age = current_year - birth_year
print(age)

21

3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [ ]:
first_name = 'Vedant'
second_name = 'Ramesh'
first_name = 'Vedant'
second_name = 'Ramesh'
Last_name = 'Bhosale'
print(first_name,second_name,Last_name)
print('My first name is: ',first_name,second_name,Last_name)

Vedant Ramesh Bhosale
My first name is:  Vedant Ramesh Bhosale

4. Answer which of these are invalid variable names: "_nation, 1record, record1, record_one, record-one, record^one, continue"

In [ ]:
Valid variable names: _nation, record1, record_one

**Numbers in python**

1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [1]:
a = 92
b = 48.8
c = a*b
print( 'Area of Football', c)

Area of Football 4489.599999999999

2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [2]:
a = 9
b = 1.49
c = 20
d = a* b
e = c-d
print('Total cost :',d)
print('Money given back:', e)

Total cost : 13.41
Money given back: 6.59

3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [3]:
a = 5.5
b= 500
area = a**2
cost = area * b
print(area)
print(cost)

30.25
15125.0

4. Print binary representation of nuber 17

In [4]:
num = 17
print('Binary Number representation is',format(num,'b'))

Binary Number representation is 10001